<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Groepswerk2</title>
        <link rel="stylesheet" href="/css/admin.css" />
        
    </head>
    <body>
        <div id="buttons-container">
            <a href="/admin?filter=computerscreen"><button >Computerscreens</button></a>
            <a href="/admin?filter=headphone"><button >Headphones</button></a>
            <a href="/admin?filter=keyboard"><button >Keyboards</button></a>
            <a href="/admin?filter=mouse"><button >Mouses</button></a>
            <a href="/admin?filter=ram"><button >RAM</button></a>
            <a href="/admin?filter=videocard"><button >Videocards</button></a>
            <a href="/admin?filter=user"><button>Users</button></a>
          </div>
          <div id="info-container">
            <div id="overview">
                <% if (choice) { %>
                <h2>Overzicht voor <%= choice %></h2>     <% } %></div>
            <div id="error"></div>
        
                <table>
                    <thead>
                        <tr>
                            <th>type</th>
                            <th>_id</th>
                            <th>name</th>
                            <th>price</th>
                            <th>description</th>
                            <th>images</th>
                            <th>raters</th>
                            <th>points</th>
                            <th>Delete</th>
                            
                        </tr>
                    </thead>
                    <tbody><% apiData.forEach((data)=>{ %>
                        <tr>
                            <td><%-choice%></td>
                            <td><%-vehicle._id%></td>
                            <td><%-vehicle.name%></td>
                            <td><%-vehicle.price%></td>
                            <td><%-vehicle.description%></td>
                            <td><%-vehicle.images%></td>
                            <td><%-vehicle.raters%></td>
                            <td><%-vehicle.points%></td>
                            <td>          <button class="red" id="deleteBtn" data-id="<%- vehicle._id %>">
                                Delete
                              </button></td>
                     
                        </tr>
                    
                        <% }); %>
                    </tbody></table>
            </div>
        </div>
    </body>
</html>
